<!DOCTYPE html>
<html>
  <head>
    <title>BetaChat</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="background_body">
    <div class="ui inverted big menu">
      <div class="ui container">
        <%= render 'layouts/navigation_top' %>
      </div>
    </div>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
